.header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}